* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  border: solid white 20px;
}

.header.logo {
  color: white;
  position: relative;
  margin-top: 2.5%;
  left: 5%;
  text-transform: uppercase;
  border: solid white 3px;
  width: 50vw;
  padding: 2.5%;
  background: rgb(47, 47, 47);
  border-radius: 15px;
  z-index: 1;
}

.app {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border: solid white 3px;
  border-radius: 10px;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: rgb(47, 47, 47);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: solid white 3px;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
  border: solid white 3px;
}
.sound-picker button:nth-child(1) {
  background: rgb(47, 47, 47);
  border: solid white 3px;
}

.sound-picker button:nth-child(2) {
  background: rgb(47, 47, 47);
}
.sound-picker button img {
  height: 100%;
}
.sound-picker button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.time-select button:hover {
  background: rgba(255, 255, 255, 0.603);
  color: black;
}

.play {
  position: absolute;
  justify-content: center;
  left: 42%;
  height: auto;
  width: auto;
  opacity: 1;
}

.play:hover {
  opacity: 1;
}

.replay {
  opacity: 0;
}

.player-container {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  opacity: 1;
  border: black;
  /* border: solid white 3px; */
}

.player-container svg {
  border-radius: 20px;
  position: absolute;
  background-color: rgb(47, 47, 47);
  height: 30%;
  top: 50%;
  left: 50%;
  padding-left: 10%;
  padding-right: 10%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
  border: solid white 3px;
  z-index: -5;
  size: 60%;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.player-container svg:hover {
  background-color: white;
  color: black;
}
.time-display {
  color: rgb(47, 47, 47);
  position: absolute;
  font-size: 50px;
  bottom: 5%;
}

.video-img {
  background-color: rgba(255, 255, 255, 0.587);
  z-index: 1;
}

video {
  border-radius: 20px;
  height: 90vh;
  position: fixed;
  top: 5%;
  left: 0%;
  margin-left: 8vw;
  padding-top: -5%;
  z-index: -10;
  overflow: hidden;
  opacity: 0.5;
}
